In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#1.0 Examine Data types for each variable

#read the d1 dataset
df = pd.read_csv('D1.csv')

#show all columns information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51766 entries, 0 to 51765
Data columns (total 37 columns):
encounter_id                51766 non-null int64
patient_nbr                 51766 non-null int64
race                        51766 non-null object
gender                      51766 non-null object
age                         51766 non-null object
weight                      51766 non-null object
admission_type_id           51766 non-null int64
discharge_disposition_id    51766 non-null int64
admission_source_id         51766 non-null int64
time_in_hospital            51766 non-null int64
payer_code                  51766 non-null object
medical_specialty           51766 non-null object
num_lab_procedures          51766 non-null int64
num_procedures              51766 non-null int64
num_medications             51766 non-null int64
number_outpatient           51766 non-null int64
number_emergency            51766 non-null int64
number_inpatient            51766 non-null int64
diag_1                      51766 non-null object
diag_2                      51766 non-null object
diag_3                      51766 non-null object
number_diagnoses            51766 non-null int64
max_glu_serum               51766 non-null object
A1Cresult                   51766 non-null object
metformin                   51766 non-null object
repaglinide                 51766 non-null object
nateglinide                 51766 non-null object
chlorpropamide              51766 non-null object
glimepiride                 51766 non-null object
acetohexamide               51766 non-null object
glipizide                   51766 non-null object
glyburide                   51766 non-null object
tolbutamide                 51766 non-null object
insulin                     51766 non-null object
change                      51766 non-null object
diabetesMed                 51766 non-null object
readmitted                  51766 non-null object
dtypes: int64(13), object(24)
memory usage: 14.6+ MB
None

In [3]:
#1.0 Correct the data-types
def d1_prep():
    #read the d1 dataset
    d1 = pd.read_csv('d1.csv')
    
    #Variable data type casting
    #Change admission_type_id from interval/int to nominal/str
    d1['admission_type_id'] = d1['admission_type_id'].astype(str)
    
    #Change discharge_disposition_id from interval/int to nominal/str
    d1['discharge_disposition_id'] = d1['discharge_disposition_id'].astype(str)
    
    #Change admission_source_id from interval/int to nominal/str
    d1['admission_source_id'] = d1['admission_source_id'].astype(str)
    
    #Change 'change' to binary 0/1 variable
    change_map = {'change':0, 'no change': 1}
    d1['change'] = d1['change'].map(change_map)

    #Change diabetesMed to binary 0/1 variable
    diabetesMed_map = {'yes':0, 'no': 1}
    d1['diabetesMed'] = d1['diabetesMed'].map(diabetesMed_map)
    
    return d1

#from d1_tools import d1_prep

In [4]:
#Return dataset with updated variable types.
d1 = d1_prep()

In [5]:
#2.1 Identify skewness in variables
d2 = d1.select_dtypes(include=[np.number])
d2.mean()
d2.median()
d2.mode()[0:1]

,encounter_id,patient_nbr,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,change,diabetesMed
0,150645834,88785891.0,3.0,1.0,0.0,15.0,0.0,0.0,0.0,9.0,NaN,NaN

In [6]:
#2.2 Inconsistencies in the data
print("Unique values: \n",d1['race'].unique(), "\nCount: \n", d1['race'].value_counts())
print("\n")
print("Unique values: \n",d1['gender'].unique(), "\nCount: \n", d1['gender'].value_counts())
print("\n")
print("Unique values: \n",d1['age'].unique(), "\nCount: \n", d1['age'].value_counts())
print("\n")
print("Unique values: \n",d1['weight'].unique(), "\nCount: \n", d1['weight'].value_counts())
print("\n")
print("Unique values: \n",d1['payer_code'].unique(), "\nCount: \n", d1['payer_code'].value_counts())
print("\n")
print("Unique values: \n",d1['medical_specialty'].unique(), "\nCount: \n", d1['medical_specialty'].value_counts())
print("\n")
print("Unique values: \n",d1['chlorpropamide'].unique(), "\nCount: \n", d1['chlorpropamide'].value_counts())
print("\n")

Unique values:
 ['Caucasian' 'AfricanAmerican' 'Hispanic' '?' 'Other' 'Asian']
Count:
 Caucasian          40388
AfricanAmerican     8070
Hispanic            1018
?                   1016
Other                896
Asian                378
Name: race, dtype: int64


Unique values:
 ['Female' 'Male' 'Unknown/Invalid']
Count:
 Female             27718
Male               24044
Unknown/Invalid        4
Name: gender, dtype: int64


Unique values:
 ['[60-70)' '[80-90)' '[70-80)' '[40-50)' '[50-60)' '[90-100)' '[30-40)'
 '[20-30)' '[10-20)' '[0-10)' '?']
Count:
 [70-80)     12972
[60-70)     11618
[80-90)      9671
[50-60)      8482
[40-50)      4619
[30-40)      1717
[90-100)     1616
[20-30)       815
[10-20)       223
[0-10)         23
?              10
Name: age, dtype: int64


Unique values:
 ['?' '[100-125)' '[50-75)' '[75-100)' '[0-25)' '[125-150)' '[25-50)'
 '[150-175)' '[175-200)' '>200']
Count:
 ?            50431
[75-100)       542
[50-75)        347
[100-125)      309
[125-150)       72
[25-50)         29
[150-175)       18
[0-25)          11
[175-200)        5
>200             2
Name: weight, dtype: int64


Unique values:
 ['?' 'MD' 'BC' 'MC' 'HM' 'CP' 'SP' 'OG' 'UN' 'DM' 'CM' 'PO' 'SI' 'WC' 'CH'
 'OT' 'MP' 'FR']
Count:
 MC    23046
?      7601
HM     4702
SP     3808
BC     3165
MD     2537
CP     1801
CM     1696
UN     1192
OG      879
PO      511
DM      412
CH      127
WC      100
OT       83
MP       79
SI       26
FR        1
Name: payer_code, dtype: int64


Unique values:
 ['InternalMedicine' '?' 'Cardiology' 'Emergency/Trauma' 'Neurology'
 'Surgery-General' 'Family/GeneralPractice'
 'Surgery-Cardiovascular/Thoracic' 'Surgery-Vascular' 'Oncology'
 'Osteopath' 'Surgery-Neuro' 'Radiologist' 'Nephrology' 'Pulmonology'
 'Orthopedics-Reconstructive' 'Gastroenterology' 'Surgery-Plastic'
 'Surgery-Pediatric' 'Psychiatry' 'Orthopedics' 'Urology'
 'Surgery-Cardiovascular' 'Gynecology' 'PhysicalMedicineandRehabilitation'
 'ObstetricsandGynecology' 'Hematology/Oncology' 'Podiatry'
 'Otolaryngology' 'Surgeon' 'Pediatrics' 'Psychology' 'Hematology'
 'OutreachServices' 'Endocrinology' 'Pathology' 'Obstetrics'
 'Surgery-Thoracic' 'Cardiology-Pediatric' 'Ophthalmology' 'Rheumatology'
 'SurgicalSpecialty' 'Surgery-Maxillofacial' 'Hospitalist'
 'InfectiousDiseases' 'Perinatology' 'PhysicianNotFound' 'Neurophysiology'
 'Anesthesiology' 'Radiology' 'Endocrinology-Metabolism' 'DCPTEAM'
 'Resident']
Count:
 ?                                    32203
Emergency/Trauma                      5616
InternalMedicine                      3854
Family/GeneralPractice                1949
Cardiology                            1667
Surgery-General                       1326
Radiologist                           1070
Orthopedics                            681
Nephrology                             468
Surgery-Vascular                       332
Gastroenterology                       297
Orthopedics-Reconstructive             286
Psychiatry                             244
Pulmonology                            211
Urology                                203
ObstetricsandGynecology                185
Oncology                               143
Neurology                              110
Surgery-Cardiovascular/Thoracic        105
Surgery-Neuro                           76
Podiatry                                72
Psychology                              64
Hematology                              59
Pediatrics                              59
Surgery-Cardiovascular                  58
Hospitalist                             54
Surgery-Thoracic                        54
Gynecology                              34
Otolaryngology                          33
SurgicalSpecialty                       32
Ophthalmology                           30
PhysicalMedicineandRehabilitation       28
Surgeon                                 25
Osteopath                               17
Obstetrics                              15
Surgery-Plastic                         14
InfectiousDiseases                      14
OutreachServices                        11
Rheumatology                            10
Endocrinology-Metabolism                 8
PhysicianNotFound                        7
Radiology                                6
Cardiology-Pediatric                     6
DCPTEAM                                  6
Endocrinology                            6
Pathology                                5
Hematology/Oncology                      4
Surgery-Maxillofacial                    3
Resident                                 2
Perinatology                             1
Anesthesiology                           1
Neurophysiology                          1
Surgery-Pediatric                        1
Name: medical_specialty, dtype: int64


Unique values:
 ['No' '?' 'Steady' 'Up']
Count:
 No        51738
Steady       18
?             9
Up            1
Name: chlorpropamide, dtype: int64

In [7]:
#2.3.a

#Define whether 'readmitted' is <30 days
is_within30 = d1['readmitted']=='<30'

#Filter out for values only containing readmission within 30 days
within30 = d1[is_within30]

#Female patient average time stay after readmission within 30 days.
print('The average stay for patientsafter readmission within 30 days grouped by ', within30.groupby(['gender'])['time_in_hospital'].mean())

The average stay for patientsafter readmission within 30 days grouped by  gender
Female    4.524752
Male      4.482972
Name: time_in_hospital, dtype: float64

In [8]:
#2.3.b 

#Group by age for readmissions from only within 30 days and print the group with the highest frequency
print('The highest risk age group is: ', within30.groupby(['age'])['readmitted'].value_counts().idxmax())

The highest risk age group is:  ('[70-80)', '<30')

In [24]:
#2.3.c

#Create a new column binary for readmissions
d1['readmission'] = np.where(d1['readmitted'] != 'NO', 'yes', 'no')

#group by readmission + age, value counts over 3000. 
print(d1.groupby(['readmission'])['age'].value_counts().loc[lambda x : x>3000])

readmission  age
no           [70-80)    6770
             [60-70)    6270
             [80-90)    4930
             [50-60)    4789
yes          [70-80)    6202
             [60-70)    5348
             [80-90)    4741
             [50-60)    3693
Name: age, dtype: int64

In [25]:
#2.3.d

print(d1.groupby(['readmission'])['race'].value_counts())

# !! Do we drop the "?" from the dataframe?? There is a large number of rows containing it in this variable.

readmission  race
no           Caucasian          21268
             AfricanAmerican     4540
             Hispanic             674
             ?                    649
             Other                549
             Asian                258
yes          Caucasian          19120
             AfricanAmerican     3530
             ?                    367
             Other                347
             Hispanic             344
             Asian                120
Name: race, dtype: int64